# Compiled class file
*.class

# Log file
*.log
jacoco.xml

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
build/
*.iml


# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IDE specific files
.idea/
.settings/
.vscode/
.project
.classpath
*.iml
*.iws
*.ipr

# Compiled files
*.class
out/
bin/

# Others
.DS_Store